<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zaafoohpl.zaafoo.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.zaafoohpl.zaafoo.myapplication.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/zaafoo_logo"
        android:label="Zaafoo"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppZTheme"
        tools:replace="android:label,android:theme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme"/>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme"/>
        <activity
            android:name=".GetLocation"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".HomeDrawar"
            android:label="@string/title_activity_home_drawar"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme.NoActionBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme">
            <intent-filter>
                <data
                    android:host="zaafoo.in"
                    android:scheme="com.zaafoohpl.zaafoo.myapplication" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentResponse"
            android:screenOrientation="portrait"
            android:theme="@style/AppZTheme"/>

        <service
            android:name=".BookingService"
            android:enabled="true"
            android:exported="true"></service>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1776975295915336"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
    </application>

</manifest>